name: Build & Deploy to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build:
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 25
          cache: pnpm

      - name: Install dependencies
        run: pnpm i --frozen-lockfile

      - name: build
        run: pnpm build

      - name: Add CNAME
        run: echo "sottolaluna.it" > build/CNAME

      - name: Upload Artifacts
        uses: actions/upload-pages-artifact@v4
        with:
          path: 'build/'

  deploy:
    needs: build
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4
